GHCR_IMAGE=ghcr.io/sibbl/matrix-atom-echo-bridge:latest
BRIDGE_PORT=3000
BRIDGE_BASE_URL=http://YOUR_LAN_IP:3000
BRIDGE_REPLY_MODE=echo
DEVICE_AUTH_TOKEN=change-me-device-token
BRIDGE_BASIC_AUTH_USERNAME=
BRIDGE_BASIC_AUTH_PASSWORD=
MATRIX_HOMESERVER_URL=
MATRIX_ACCESS_TOKEN=
MATRIX_ROOM_ID=
MATRIX_USER_ID=
MATRIX_BOT_USER_ID=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
